body {
  font-family: "Fredoka One", sans-serif;
}

.profile-img {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img img {
  width: 140%;
  height: auto;
  margin-left: -10px;
  margin-top: -50px;
}

.head-row {
  background-color: rgb(175, 122, 56);
}

.navs > ul > li:hover {
  background-color: rgb(175, 122, 56);
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: white;
}

.icon:hover {
  background-color: white;
}

.card-body img:hover {
  opacity: 90%;
}

.footer {
  margin-top: 250px;
  background-color: rgb(175, 122, 56);
}

.fball {
  background-color: rgb(52, 139, 189);
}

.travel {
  background-color: rgb(74, 107, 180);
}

.tech {
  background-color: rgb(143, 230, 72);
}
.music {
  background-color: rgb(156, 41, 41);
}
